<nav class="hidden-xs-down bg-faded sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/produit"   routerLinkActive="active">Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/users"   routerLinkActive="active">Utilisateurs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/item1"   routerLinkActive="active">item1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/item2"   routerLinkActive="active">item2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/item3"   routerLinkActive="active">item3</a>
    </li>
  </ul>
</nav>
