<div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light"><span class="text-primary">Dashboard</span></a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><span class="text-primary">Shortcuts</span></a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><span class="text-primary">Overview</span></a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><span class="text-primary">Events</span></a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><span class="text-primary">Profile</span></a>
        <a href="#" class="list-group-item list-group-item-action bg-light"><span class="text-primary">Status</span></a>
      </div>
    </div>
